body {
    background: linear-gradient(135deg, #1f2937, #111827);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.screen {
    width: 100%;
    max-width: 900px;
    padding: 40px 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    max-width: 500px;
}

.form-input {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}


input {
    background: #111827;
    border: 1px solid #374151;
}

input:focus {
    border-color: #facc15;
}

